<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi repudiandae consequatur quasi non exercitationem rerum animi nisi natus velit, ex deleniti eaque adipisci expedita dolorum nulla voluptas optio earum aperiam.</p>
    <footer>
    <div class="media">
      <div class="media__image">
       <svg class="icon icon--primary quote__line">
         <use xlink:href="images/sprite.svg#line"></use>
       </svg>
   </div>  
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ABC company</p>
      </div>
    </div>

  </footer>
  </blockquote>